<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <roleManager enabled="true"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" defaultUrl="~/Splash.aspx"/>
    </authentication>
    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider"/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" enablePasswordRetrieval="true" passwordFormat="Encrypted" enablePasswordReset="true" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"/>
      </providers>
    </membership>
    <machineKey validationKey="B4443E3E4BE325129357BB90A6DFE010D993BBFA742F206184299F640BC0D656E53D622BD99F65F6DE849ED25578FE982B6A1A2E18A8EEFEDF34E607D20F8223" decryptionKey="B6164A5AC708ABD9E132EE30C9B175F97A57AA7CEE1038CC7024D187C9004857" validation="SHA1" decryption="AES"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="dbConnection" value="Data Source=jan-pc;Initial Catalog=SmotWebDB;Integrated Security=True" />
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="LocalSqlServer" connectionString="Data Source=jan-pc;Initial Catalog=SmotWebDB;Integrated Security=True"/>
  </connectionStrings>
</configuration>
